.downSide{
    display: flex;
}
.contactLeft{
    width:60%;
    height:400px;
    background-size: cover;
    background-repeat: no-repeat;
}
.contactRight{
    padding-left: 20px;
}
.contactRight  input{
    border-top: none;
    border-left: none;
    border-right: none;
    width:300px;
    margin: 2px;
}
textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    width:300px;
}
.submit{
    background-color: black;
    color: white;
    padding:5px;
    margin: 10px;
    width: 100px;
    border-radius: 7px;
    cursor: pointer;
}